
<template name="cardsview">

  {{#each foods}}
  {{> RecipeCard}}
  {{/each}}
</template>


<template name="RecipeCard">
  <div class="card" style="box-shadow: 1px 4px 1px grey;">
    <div class="card-block">
      <div class="card-header-blue">
        <h4 class="card-title2">{{this.name}}</h4>
      </div>
      <div class="bookinfo">
        {{this.book}}, <em>pg. {{this.page}}</em>
      </div><br>
      <table style="width: 100%">
        <tr>
          <td align="left" class="macron">Cal: {{this.macros.servingcals}}</td>
          <td align="center"> </td>
          <td align="right" class="macron">Serves: {{this.macros.serves}}</td>
        </tr>
        <tr>
          <td align="left" class="macron">Fat: {{this.macros.fat}}</td>
          <td align="center" class="macron">Carbs: {{this.macros.carbs}}</td>
          <td align="right" class="macron">Pro: {{this.macros.protein}}</td>
        </tr>
      </table>
      <div class="card-text-box">
        <p class="card-text"> {{this.description}}</p>
      </div>
      <p align="center" style="font-size: 1.2em">Ingredients</p>
      <hr><div class="tags"> {{#each this.tags}}
        {{> tagbubble this}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="tagbubble">
  <div class="card" style="border-radius: 5px 7px 7px; background: #73AD21;
  padding-left: 3px; padding-right: 3px; width: auto; max-width: 100px; padding-bottom: 1px; color: #FFF"> {{this}} </div>
</template>

<template name="insertFoodForm">
  {{> quickForm collection="Food" id="insertFoodForm" type="insert"}}
</template>

<template name="newRecipeOrNah">
  put stuff in here to only expand out the whole modifiable form if the user starts typing a new recipe name into the New Recipe Name field?
</template>

<template name="insertFoodForm2">
  {{#autoForm collection="Food" id="insertFoodForm2" type="insert"}}
  <fieldset>
    <legend>Add a Food</legend>
    {{> afQuickField name='name'}}
    {{> afQuickField name='book'}}
    {{> afQuickField name='page'}}
    {{> afQuickField name='macros.calories'}}
    {{> afQuickField name='macros.serves'}}
    {{> afQuickField name='macros.fat'}}
    {{> afQuickField name='macros.carbohydrates'}}
    {{> afQuickField name='macros.protein]'}}
    {{> afQuickField name='description' rows=6}}
    {{> afQuickField name='tags'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Insert</button>
  {{/autoForm}}
</template>

<template name="NewRecipe">
  <div class="card">
    <div class="card-block">
      <div class="card-header-blue">
        <h4 id=new_name class="card-title2" contenteditable=true>Name a New Recipe</h4>
      </div>
      <div class="bookinfo">
        <div id=new_book class="col" contenteditable=true>Book Name</div><div class="col"><em>, pg.</em></div><em><div class="col" id=new_page contenteditable=true>###</div></em>
      </div><br>
      <table style="width: 100%">
        <tr>
          <td align="left" class="macron" contenteditable=true id=new_calories>Calories</td>
          <td align="center" class="macron">      </td>
          <td align="right" class="macron" contenteditable=true id=new_serves>Servings</td>
        </tr>
        <tr>
          <td align="left" class="macron" contenteditable=true id=new_fat>Fat</td>
          <td align="center" class="macron" contenteditable=true id=new_carbs>Carbs</td>
          <td align="right" class="macron" contenteditable=true id=new_protein>Protein</td>
        </tr>
      </table>
      <div class="card-text-box">
        <p class="card-text" contenteditable=true id=new_desc>Describe this new dish!</p>
      </div>
      <hr>
      <div class="tags" contenteditable=true id=new_tags>tags; separated by; semicolons</div>
    </div>
    <p style="padding-right: 5px" align="right">
      <form id="NewRecipeHiddenForm">
        <input type="text" name="name" id="new_name_form" style="display:none;"/>
        <input type="text" name="book" id="new_book_form" style="display:none;"/>
        <input type="text" name="page" id="new_page_form" style="display:none;"/>
        <input type="text" name="calories" id="new_calories_form" style="display:none;"/>
        <input type="text" name="serves" id="new_serves_form" style="display:none;"/>
        <input type="text" name="fat" id="new_fat_form" style="display:none;"/>
        <input type="text" name="carbs" id="new_carbs_form" style="display:none;"/>
        <input type="text" name="protein" id="new_protein_form" style="display:none;"/>
        <textarea name="desc" id="new_desc_form" style="display:none;"> </textarea>
        <input type="text" name="tags" id="new_tags_form" style="display:none;"/>
      <button class="btn waves-effect waves-light" id="addNewFoodButton" type="submit" name="action" style="padding-right: 10px; padding-left: 10px; background: #0275D8">
        <i class="tiny material-icons left">note_add</i>Add This Recipe
      </button>
    </form>
    </p>
  </div>

</template>
